
.overlay {
    position: fixed;
    left: 0px;
    top:0px;
    background-color: rgba(0,0 ,0 , 0.5);
    width: 100%;
    height: 100%;
    z-index:1;
    display:none;
}

.popup{
    margin: 10% auto;
    width : 70%;
    background-color: rgb(243, 243, 243);
    padding: 1em;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

.btnClose {
    float: right;
    font-size:16pt;
    cursor: pointer;
    color: rgb(26, 26, 26);
}

.btnClose {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.btnClose {background-color: #f44336;}