# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\php projet\ProjetWeb_LGO_AGA_TRN-main\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
